.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        &--active .filter__link {
            background-color: $primary-mail-color;
            color: $secondary-mail-color;

            &:hover {
                color: $secondary-mail-color;
            }
        }
    }

    &__link {
        display: inline-block;
        padding: 3px 21px;
        text-transform: uppercase;
        color: $secondary-mail-color;
        font-family: $title-font;
        font-size: 24px;
        font-weight: bold;

        &:hover {
            color: $color-red;
        }
    }
}